.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;

  padding: 1.65vw 0;
  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.2vw;
  }
  &-logo {
    width: 8.334vw;
    height: 0.834vw;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &-contacts {
    display: flex;
    align-items: center;
    gap: 1.45vw;
  }
  &-phone {
    display: flex;
    align-items: center;
    gap: 0.6vw;
    transition: all .3s ease;
    &__text {
      color: #969696;
      font-size: 0.885vw;
      font-weight: 400;
      span {
        color: #FFF;
        font-size: 0.885vw;
        font-weight: 600;
      }
    }
    svg {
      width: 1.25vw;
      height: 1.25vw;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  &-feedback {
    display: block;
    padding: 0.5vw 1.5vw;
    color: #FFF;
    font-size: 0.834vw;
    font-weight: 500;

    border-radius: 2.4vw;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: all .3s ease;
    &__accent {
      border-radius: 0.6vw;
      border: 1px solid #FF8C21;
    }
    &:hover {
      color: #FFF;
      opacity: 0.7;
    }
  }
}