.promo {
  background: #2E2E2E;
  padding: 167px 0 228px;
  //height: 700px;

  position: relative;

  &-content {
    display: flex;
    align-items: center;
    gap: 5px;
    &__left {
      width: 100%;
      max-width: 730px;
      display: flex;
      flex-direction: column;
      gap: 40px;

      position: relative;
      z-index: 5;
    }
    &__right {
      min-width: 450px;
      position:relative;
      z-index: 1;
      &_text {
        max-width: 386px;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.50);
        padding: 15px 20px;
        backdrop-filter: blur(10px);

        color: #FFF;
        font-family: var(--second-font-family);
        font-size: 17px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;

        position: absolute;
        bottom: 50px;
        right: 0;
        span {
          color: #E22E2E;
        }
      }
    }
  }
  &-title {
    color: #FFF;
    text-align: left;
    line-height: 50px; /* 116.279% */
    max-width: 696px;
    margin: 0;
  }
  &-plus {
    display: flex;
    align-items: stretch;

    gap: 1.2vw;
    &__item {
      height: auto;
      max-width: 17.2vw;
      padding: 1.2vw;
      border-radius: 0.8vw;
      //max-width: 300px;
      //padding: 20px;
      //border-radius: 10px;
      background: rgba(255, 255, 255, 0.10);

      backdrop-filter: blur(10px);

      display: flex;
      align-items: center;
      gap: 1.2vw;

      &_ico {
        //width: 50px;
        //min-width: 50px;
        //height: 50px;
        width: 3.18vw;
        min-width: 3.18vw;
        height: 3.18vw;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius:50%;
        border: 1px solid #5DE22E;
        svg {
          width: 100%;
          height: 100%;
        }
      }
      &_title {
        color: #FFF;
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
  &-descr {
    max-width: 571px;
    color: #FFF;
    font-size: 19px;
    font-weight: 400;
  }
  &-form {
    display: flex;
    align-items: center;
    gap: 20px;

    position: relative;
    z-index: 10;
    input {
      width: 230px;
      border-radius: 10px;
      background: #fff;
      border: none;
      outline: none;

      padding: 0 20px;

      color: var(--main-color);
      font-size: 18px;
      font-weight: 400;
      line-height: normal;
      height: 60px;
      &::placeholder {
        color: #B9B9B9;
      }
    }
    button {
      width: 230px;
      height: 60px;

      border-radius: 10px;
      background: #E22E2E;
      border: none;
      outline: none;

      white-space: nowrap;

      color: #FFF;
      font-size: 18px;
      font-weight: 500;
      line-height: normal;

      cursor: pointer;
      transition: all .3s ease;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  &-smoke {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    //opacity: 0.3;
  }
  &-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &.promo-banner {
    padding: 252px 0;
    background: url(/public/promo-bg.png) center / cover no-repeat;
    .promo-content__left {
      max-width: 100%;
    }
    .promo-title {
      color: #FFF;
      font-size: 50px;
      font-style: normal;
      font-weight: 900;
      line-height: 50px; /* 100% */
      max-width: 800px;
      span {
        color: #FF8C21;
      }
    }
    .promo-descr {
      color: #FFF;
      font-size: 30px;
      font-weight: 400;
      max-width: 610px;
      span {
        color: #FF8C21;
        font-weight: 700;
      }
    }
    .promo-plus__item_title {
      color: #FFF;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .promo-form {
      input {
        width: 258px;
        min-width: 240px;
        height: 68px;

        font-size: 24px;
      }
      button {
        width: 278px;
        min-width: 258px;
        height: 68px;

        font-size: 24px;
        background: #FF8C21;
      }
    }
  }
}

.promo {
  background: #2E2E2E;
  padding: 8.7vw 0 11.9vw;
  position: relative;
  height: 100vh;

  &-content {
    display: flex;
    align-items: center;
    gap: 0.26vw;
    &__left {
      width: 100%;
      max-width: 37.8vw;
      display: flex;
      flex-direction: column;
      gap: 2.08vw;
      position: relative;
      z-index: 5;
    }
    &__right {
      min-width: 23.3vw;
      position: relative;
      z-index: 1;
      &_text {
        max-width: 20vw;
        border-radius: 0.52vw;
        background: rgba(0, 0, 0, 0.50);
        padding: 0.78vw 1.04vw;
        backdrop-filter: blur(0.52vw);
        color: #FFF;
        font-family: var(--second-font-family);
        font-size: 0.88vw;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
        position: absolute;
        bottom: 2.6vw;
        right: 0;
        span {
          color: #E22E2E;
        }
      }
    }
  }

  &-form {
    display: flex;
    align-items: center;
    gap: 1.04vw;
    position: relative;
    z-index: 10;
    input {
      width: 12vw;
      border-radius: 0.52vw;
      background: #fff;
      border: none;
      outline: none;
      padding: 0 1.04vw;
      color: var(--main-color);
      font-size: 0.94vw;
      font-weight: 400;
      line-height: normal;
      height: 3.1vw;
      &::placeholder {
        color: #B9B9B9;
      }
    }
    button {
      width: 12vw;
      height: 3.1vw;
      border-radius: 0.52vw;
      background: #E22E2E;
      border: none;
      outline: none;
      white-space: nowrap;
      color: #FFF;
      font-size: 0.94vw;
      font-weight: 500;
      line-height: normal;
      cursor: pointer;
      transition: all .3s ease;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  &.promo-banner {
    padding: 9vw 0;
    background: url(/public/promo-bg.png) center / cover no-repeat;
    .promo-content__left {
      max-width: 100%;
    }
    .promo-title {
      color: #FFF;
      font-size: 2.6vw;
      font-style: normal;
      font-weight: 900;
      line-height: 2.6vw;
      max-width: 41.7vw;
      span {
        color: #FF8C21;
      }
    }
    .promo-descr {
      color: #FFF;
      font-size: 1.56vw;
      font-weight: 400;
      max-width: 31.8vw;
      span {
        color: #FF8C21;
        font-weight: 700;
      }
    }
    .promo-plus__item_title {
      color: #FFF;
      font-size: 1.25vw;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .promo-form {
      input {
        width: 13.4vw;
        min-width: 12.5vw;
        height: 3.54vw;
        font-size: 1.25vw;
      }
      button {
        width: 14.4vw;
        min-width: 13.4vw;
        height: 3.54vw;
        font-size: 1.25vw;
        background: #FF8C21;
      }
    }
  }
}